@include laptop {
    .progress {
        #carouselExampleIndicators {
            display: none;
        }
        #carouselExampleIndicator {
            display: inherit;
        }
    }
}

@include tablet {
    .progress {
        &__carousel-item {
            img {
                width: 155px;
            }
        }
    }
}