@include tablet {
    .services {
        &__block {
            width: 47%;
        }
    }
}

@include mobile {
    .services {
        &__block {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            h3 {
                max-width: 100%;
                padding: 20px 0 20px 10px;
                font-size: $font-size-sm-md;
            }
        }
        h2 {
            font-size: $font-size-xl;
        }
        &__title {
            padding-bottom: 30px;
        }
        &__block {
            img {
                width: 64px;
            }
            width: 100%;
        }
        &__block-top {
            padding: 60px 0 0;
        }
        &__top-bot {
            padding: 20px 0;
        }
        .pad-bottom {
            padding-bottom: 0;
        }
    }
}