$font-main:'TT Norms',
sans-serif;
//--------------------
$box-shadow-bg:#323264;
$color-clients-citypark:#282240;
$color-clients-artprint:#1D4568;
$color-clients-infratek:#EAEAEA;
$color-clients-leasing:#DCF3F9;
$color-clients-clickky:#C71C36;
$color-clients-adtelligent:#E2E2E4;
$color-clients-orangear:#FD9339;
$color-clients-tapgerine:#F48B30;
$color-clients-wannabiz:#143646;
$color-clients-look:#9E4DC3;
$color-clients-hillel:#1C4280;
$color-black:#000000;
$color-violet:#686887;
$color-main:#F0145A;
$color-white:#FFFF;
$color-gray:#B3B3BA;
$hover-header-color:#EDEDF7;
$color-blue:#24A3FF;
$color-footer:#46466E;
$color-light-gray:#e6e6f0;
$linear-gradient-main:#EF8080,
#F0145A;
$color-case:#F5F5FA;
$card-bg-top:#CACADB;
$card-bg-bot:#E7E7F2;
$color-light:#EDEDF7;
$color-dark-violet:#7A425E;
$linear-gradient:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$color-bg-bot:linear-gradient( 228.57deg, #323264 11.93%, #323264 65.17%, #643e72 97.46%);
$color-bg-top:linear-gradient(25deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
//--------------------
$breakpoint_xxl: 1320px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 860px;
$breakpoint_md: 767px;
$breakpoint_sm: 425px;
$breakpoint_xs: 335px;
//----------------------
$font-size-xss: 12px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-l:16px;
$font-size-sm-md:18px;
$font-size-medium:21px;
$font-size-md: 22px;
$font-size-md-xl:24px;
$font-size-xl: 32px;
$font-size-large:36px;
$font-size-xl-xxl:38px;
$font-size-xxl: 42px;
$font-size-more-xxl:70px;
$font-size-more-large:96px;
//-----------------------