@include tablet {
    .introduction {
        padding: 50px 0;
        h2 {
            font-size: $font-size-xl;
        }
        &__content {
            flex-direction: column;
        }
        &__content-right {
            border-top: 4px solid #E6E6F0;
            padding: 20px 0;
            width: 100%;
            border-left: none;
        }
    }
}